<!DOCTYPE html>
<html>

<head>

<title>Tour Recommendation System</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav class="navbar">
<h2>Travel Explorer</h2>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/recommend">Find Destination</a></li>
</ul>
</nav>

<div class="hero">

<div class="hero-content">

<h1>Explore The World</h1>

<p>Discover beautiful destinations for your next journey</p>

<a href="/recommend" class="btn">Start Exploring</a>

</div>

</div>

</body>
</html>